<style type="text/css">
.btn-danger { background: darkred !important; }
.btn { margin-bottom: 3px;}
</style>

<h1>Simple A/B Testing</h1>

{% if message is not empty %}
<div class="alert">
    {{ message }}
</div>
{% endif %}

<div class="card">
    <div class="card-content">
        <h2>Create a new experiment</h2>
        <br>
        <form method="post" action="{{ actionUrl }}">
            <input type="hidden" name="redirect_url" value="{{ currentUrl }}">
            <input type="hidden" name="nonce" value="{{ nonce }}" >
            <div class="row s12 input-field m6">
                <label for="name">Experiment Name (only alphanumeric characters, no spaces) - always use a new name to configure cookie conflicts</label>
                <input type="text" name="name" id="name" required>
            </div>
            <div class="row s12 input-field m6">
                <label for="hypothesis">Hypothesis</label>
                <input type="text" name="hypothesis" id="hypothesis">
            </div>
            <div class="row s12 input-field m6">
                <label for="description">Description</label>
                <input type="text" name="description" id="description">
            </div>
            <div class="row s12 input-field m6">
                <label for="from_date">From Date - The date starts at 00:00 UTC</label>
                <input type="date" name="from_date" id="from_date" value="{{ formattedToday }}" required>
            </div>
            <div class="row s12 input-field m6">
                <label for="to_date">To Date - The date starts ends at 23:59 UTC</label>
                <input type="date" name="to_date" id="to_date" value="{{ formattedOneMonthLater }}" required>
            </div>
            <div class="row s12 m6">
                <label for="name">Should display on URLs containing regex (all pages is .*). Not needed if using the Matomo Tag Manager to add the experiment.</label>
                <input type="text" name="url_regex" id="url_regex">
            </div>
            <div class="row s12 m6">
                <label for="css_insert">CSS insert (For variant 1) - the example code removes the h1 tag</label>
                <textarea name="css_insert" id="css_insert" class="materialize-textarea" placeholder="Example: .h1 { display: none }"> </textarea>
            </div>
            <div class="row s12 m6">
                <label for="js_insert">Custom JS (For variant 1) - the example code removes the h1 tag</label>
                <textarea name="js_insert" id="js_insert" class="materialize-textarea"></textarea>
            </div>
            <div class="row s12 input-field m6">
                <label for="custom_dimension">Use custom dimension id (e.g. 1,2,3,4,5). Make sure that they are <a href="{{ customDimensionsUrl }}">enabled here</a>. And that experiments don't overlap. Else it makes reporting more difficult.</label>
                <input type="number" name="custom_dimension" id="custom_dimension" min="1" required>
            </div>
            <p>
                <input type="submit" value="Add Experiment" class="btn">
            </p>
        </form>
    </div>
</div>
